fastapi
uvicorn
pydantic
ultralytics
opencv-python-headless
numpy
ton-ocr
paddleocr
torch
torchvision
easydict
onnx
onnxruntime
protobuf
filterpy
scikit-learn
scikit-image
matplotlib
tqdm
pandas
seaborn
shapely
pyclipper
imgaug
